.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.sideContent {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.landingInputs{
  padding:10px;
  margin: auto;
}
.landingInputs > label{
    position:absolute;
    background-color:#FFFFFF;
    transform:translate(10px, 24px);
}
.sideContentTitle {
    font-family: 'Poppins', sans-serif;
    color: #4BC2C5;
    margin: 110px 74px -20px 74px;
    font-size: 30px;
}
.label{
    font-family: 'Roboto', sans-serif;
    color:#79747E;
    font-size:16px;
}
.mainInput {
    width: 344px;
    height: 56px;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #79747E;;
    font-size: 20px;
    padding: auto;
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.logInButton {
    width: 344px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: #4BC2C5;
    border: none;
    color: #FFFFFF;
    margin: auto;
}
.logInButton:hover{
    background-color: #309194;
}
.signUpButton {
    width: 344px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #4BC2C5;
    color: #4BC2C5;
    margin: auto;
    margin-top: 10px;
}
.registerImage{
  max-width: 100vw;
  max-height: 100vh;
}